/*Helper classes*/
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.animation{
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;
}

html body .site-content#site-content .size-2{
    width:calc(50% - 10px);
    vertical-align:top;
    box-sizing:border-box;
}

.size-2:first-of-type{
    margin-right:10px;
}

.size-2 + .size-2{
    margin-left:10px;
}

html body .site-content#site-content .size-3{
    width:33.3%;
    vertical-align:top;
    box-sizing:border-box;
}

.required-field-text{
    color:#c0392b;
    font-weight:bold;
}
/*Helper classes end*/

html body *{
    box-sizing:border-box;
}

.background-holder{
    text-align:center;
    opacity: 0.4;
    margin:150px 0px;
    font-size:200px;
    cursor:default;
    width:100%;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.header{
    display:inline-block;
    width:100%;
    background-color:#6DB33F;
}

.header .header-content{
    margin-top:5px;
    display:inline-block;
    width:100%;
    background-color:#34302D;
    padding:10px 20px;
}

.header .header-content .header-content-left,
.header .header-content .header-content-right{
    display:inline-block;
    width:50%;
    color:#fff;
    cursor:default;
    vertical-align: middle;
}

.header .header-content .header-content-left .header-text{
    font-size:22px;
    font-weight:bold;
}

.header .header-content .header-content-left .header-text .header-sub-text{
    font-size:16px;
}

.header .header-content .header-content-right{
    text-align:right;
}

.header .header-content .header-content-right .header-right-buttons{
    width:100%;
    display:inline-block
}

.header .header-content .header-content-right .header-right-buttons .header-button{
    display:inline-block;
    padding:10px 15px;
    cursor:pointer;
    color:#fff;
    text-decoration: none;
}

.header .header-content .header-content-right .header-right-buttons .header-button:hover{
    background-color:#6DB33F;
}

.site-content{
    padding:20px 30px;
    background-color:#F1F1F1;
    min-height:500px;
    color:#34302D;
    font-size:16px;
}

.site-content .button{
    display:inline-block;
    padding:10px 15px;
    cursor:pointer;
    color:#fff;
    background-color:#34302D;
    border:none;
    font-size:inherit;
    font-family:inherit;
}

.site-content .button:hover{
    background-color:#6DB33F;
}

.site-content input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
.site-content input[type="text"]:focus {
    outline: none;
}
/*error styles*/
.site-content .error-container{
    display:inline-block;
    width:50%;
}

.site-content .error-container .error-content{
    display:inline-block;
    width:100%;
    cursor:default;
}

.site-content .error-container .error-content .error-title{
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:20px;
    border-bottom:2px solid #f1c40f;
    padding-bottom:5px;
}

.site-content .error-container .error-content .error-title .error-title-icon{
    color:#f1c40f;
}

.site-content .error-container .error-content .error-title .error-title-text{
    color:#000;
}

.site-content .error-container .error-content .error-text-holder{
    display:inline-block;
    width:100%;
    text-align:center;
    padding-top:5px;
}
/*error styles end*/
/*message styles*/

.site-content .message-container{
    display:inline-block;
    width:100%;
}

.site-content .message-container .message-content{
    display:inline-block;
    width:100%;
    cursor:default;
}

.site-content .message-container .message-content .message-title{
    display:inline-block;
    width:100%;
    text-align:left;
    font-size:20px;
    border-bottom:2px solid #6DB33F;
    padding-bottom:5px;
}

.site-content .message-container .message-content .message-title .message-title-icon{
    color:#6DB33F;
}

.site-content .message-container .message-content .message-title .message-title-text{
    color:#000;
}

.site-content .message-container .message-content .message-text-holder{
    display:inline-block;
    width:100%;
    text-align:center;
    padding-top:5px;
}

/*message styles end*/
/*form styles*/

.site-content .form-container{
    display:inline-block;
    width:50%;
}

.site-content .form-container .form-content{
    display:inline-block;
    width:100%;
}

.site-content .form-container .form-content form{
    display:inline-block;   
    width:100%
}

.site-content .form-container .form-content form .buttons-container{
    /*margin-top:10px;*/
}

.site-content .form-container .form-content form .input-container{
    display:inline-block;   
    width:100%;
    margin-bottom:10px;
}

.site-content .form-container.form-content form .input-container .input-title-holder{
    display:inline-block;
    width:100%;
    margin-bottom:5px;
    cursor:default;
}

.site-content .form-container .form-content form .input-container .input-holder{
    display:inline-block;
    width:100%;
}

.site-content .form-container .form-content form .input-container .input-holder input{
    display:inline-block;
    width:100%;
}

/*form styles with icon*/
.site-content .form-container .form-content form .input-container.with-icon .input-holder{
    background:#6DB33F;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.site-content .form-container .form-content form .input-container.with-icon .input-holder input{
    width: calc(100% - 40px);
}
.site-content .form-container .form-content form .input-container.with-icon .input-holder .input-icon{
    display:inline-block;
    width:40px;
    font-size:20px;
    color:#fff;
    vertical-align: middle;
    text-align:center;
}


.site-content .form-container .form-content input[type="text"],
.site-content .form-container .form-content input[type="password"]{
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.site-content .form-container .form-content input[type="text"]:focus,
.site-content .form-container .form-content input[type="text"].focus,
.site-content .form-container .form-content input[type="password"]:focus,
.site-content .form-container .form-content input[type="password"].focus{
    border-bottom: solid 2px #6DB33F;
}

.site-content .form-container .form-content input.error[type="text"],
.site-content .form-container .form-content input.error[type="password"]{
    border-bottom: solid 2px #e74c3c;
}
/*form styles with icon end*/
/*form styles end*/

.footer{
    display:inline-block;
    background-color:#5D5D5D;
    width:100%;
}

.footer-content{
    display:inline-block;
    color:#fff;
}
/*error pages*/
.site-content .error-container{
    display:inline-block;
    width:100%;
}

.site-content .error-container .error-image{
    display:inline-block;
    width:20%;
    font-size:250px;
    vertical-align: top;
    opacity:0.5;
    cursor:default;
}

.site-content .error-container .error-text{
    display:inline-block;
    width:80%;
    font-size:30px;
    vertical-align: top;
    padding:0 20px;
}

.site-content .error-container .error-text h1{
    margin:0;
}

.site-content .error-container .error-text .error-subtext{
    display:inline-block;
    width:100%;
    vertical-align: top;
    font-size:20px;
}
/*error pages end*/
/*plugins css overwrite*/
.checkbox-green,
.checkbox-green.checked{
    background-color:#6DB33F;
}

.checkbox-green:hover,
.checkbox-green.checked:hover{
    background-color:#79BA4F;
}
/*plugins css overwrite end*/