/*Helper classes*/
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.animation{
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;
}

html body .site-content#site-content .size-1{
    width:100%;
    vertical-align:top;
    box-sizing:border-box;
    padding:0 10px;
}

html body .site-content#site-content .size-2{
    width:50%;
    vertical-align:top;
    box-sizing:border-box;
    padding:0 10px;
}

html body .site-content#site-content .size-3{
    width:33.3%;
    vertical-align:top;
    box-sizing:border-box;
    padding:0 10px;
}

.required-field-text{
    color:#c0392b;
    font-weight:bold;
}
/*Helper classes end*/

.background-holder{
    text-align:center;
    opacity: 0.4;
    margin:150px 0px;
    font-size:200px;
    cursor:default;
    width:100%;
}

html body *,
html body{
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.header{
    display:inline-block;
    width:100%;
    background-color:#6DB33F;
}

.header .header-content{
    margin-top:5px;
    display:inline-block;
    width:100%;
    background-color:#34302D;
    padding:10px 20px;
}

.header .header-content .header-content-left,
.header .header-content .header-content-right{
    display:inline-block;
    width:50%;
    color:#fff;
    cursor:default;
    vertical-align: middle;
}

.header .header-content .header-content-left .header-text{
    font-size:22px;
    font-weight:bold;
}

.header .header-content .header-content-left .header-text .header-sub-text{
    font-size:16px;
}

.header .header-content .header-content-right{
    text-align:right;
}

.header .header-content .header-content-right .header-right-buttons{
    width:100%;
    display:inline-block
}

.header .header-content .header-content-right .header-right-buttons .header-button{
    display:inline-block;
    padding:10px 15px;
    cursor:pointer;
    color:#fff;
    text-decoration: none;
}

.header .header-content .header-content-right .header-right-buttons .header-button:hover{
    background-color:#6DB33F;
}

.site-content{
    padding:15px 20px;
    background-color:#F1F1F1;
    min-height:370px;
    color:#34302D;
    font-size:16px;
}

.navigation-title{
    display:inline-block;
    width:100%;
    background-color:#999;
    padding:10px 30px;
    color:#fff;
}

.navigation-title .navigation-title-text{
}

.site-content .button{
    display:inline-block;
    padding:10px 15px;
    cursor:pointer;
    color:#fff;
    background-color:#34302D;
    border:none;
    font-size:inherit;
    font-family:inherit;
}

.site-content .button:hover{
    background-color:#6DB33F;
}

.site-content input[type="text"],
.site-content textarea{
    display: block;
    margin: 0;
    width: 100%;
    font-family: 'Roboto';
    font-size: 14px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
.site-content input[type="text"]:focus,
.site-content textarea{
    outline: none;
}
/*error styles*/

.site-content .error-container .error-content{
    display:inline-block;
    width:100%;
    cursor:default;
    padding:10px;
}

.size-2 .error-container .error-content,
.size-3 .error-container .error-content{
    padding:10px 0;
}

.site-content .error-container .error-content .error-title{
    display:inline-block;
    width:100%;
    text-align:left;
    font-size:20px;
    padding-bottom:5px;
}

.site-content .error-container .error-content .error-title .error-title-icon{
    color:#f1c40f;
}

.site-content .error-container .error-content .error-title .error-title-text{
    color:#000;
}

.site-content .error-container .error-content .error-text-holder{
    display:inline-block;
    width:100%;
    text-align:left;
    padding-top:5px;
    border-bottom:2px solid #f1c40f;
}
/*error styles end*/
/*message styles*/

.site-content .message-container{
    display:inline-block;
    width:100%;
}

.site-content .message-container .message-content{
    display:inline-block;
    width:100%;
    cursor:default;
}

.site-content .message-container .message-content .message-title{
    display:inline-block;
    width:100%;
    text-align:left;
    font-size:20px;
    border-bottom:2px solid #6DB33F;
    padding-bottom:5px;
}

.site-content .message-container .message-content .message-title .message-title-icon{
    color:#6DB33F;
}

.site-content .message-container .message-content .message-title .message-title-text{
    color:#000;
}

.site-content .message-container .message-content .message-text-holder{
    display:inline-block;
    width:100%;
    text-align:center;
    padding-top:5px;
}

/*message styles end*/
/*form styles*/

.site-content .content-container .form-container{
    display:inline-block;
    width:100%;
}

.site-content .content-container .form-container .form-content{
    display:inline-block;
    width:100%;
}

.site-content .content-container .form-container .form-content form{
    display:inline-block;   
    width:100%
}

.site-content .content-container .form-container .form-content form .buttons-container{
    /*margin-top:10px;*/
}

.site-content .content-container .form-container .form-content form .input-container{
    display:inline-block;   
    width:100%;
    margin-bottom:10px;
}

.site-content .content-container .form-container.form-content form .input-container .input-title-holder{
    display:inline-block;
    width:100%;
    margin-bottom:5px;
    cursor:default;
}

.site-content .content-container .form-container .form-content form .input-container .input-holder{
    display:inline-block;
    width:100%;
    overflow:hidden;
}

.site-content .content-container .form-container .form-content form .input-container .input-holder input{
    display:inline-block;
    width:100%;
}

/*form styles with icon*/
.site-content .content-container .form-container .form-content form .input-container.with-icon .input-holder{
    background:#6DB33F;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.site-content .content-container .form-container .form-content form .input-container.with-icon .input-holder input{
    width: calc(100% - 40px);
}
.site-content .content-container .form-container .form-content form .input-container.with-icon .input-holder .input-icon{
    display:inline-block;
    width:40px;
    font-size:20px;
    color:#fff;
    vertical-align: middle;
    text-align:center;
}


.site-content .content-container .form-container .form-content input[type="text"],
.site-content .content-container .form-container .form-content input[type="password"],
.site-content .content-container .form-container .form-content textarea{
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.site-content .content-container .form-container .form-content textarea{
    resize:vertical;
    max-height:200px;
    min-height:100px;
}

.site-content .content-container .form-container .form-content input[type="text"]:focus,
.site-content .content-container .form-container .form-content input[type="text"].focus,
.site-content .content-container .form-container .form-content input[type="password"]:focus,
.site-content .content-container .form-container .form-content input[type="password"].focus,
.site-content .content-container .form-container .form-content textarea:focus,
.site-content .content-container .form-container .form-content textarea.focus{
    border-bottom: solid 2px #6DB33F;
}

.site-content .content-container .form-container .form-content input.error[type="text"],
.site-content .content-container .form-container .form-content input.error[type="password"],
.site-content .content-container .form-container .form-content textarea.error{
    border-bottom: solid 2px #e74c3c;
}
/*form styles with icon end*/
/*form styles end*/

.footer{
    display:inline-block;
    background-color:#5D5D5D;
    width:100%;
}

.footer-content{
    display:inline-block;
    color:#fff;
}
/*error pages*/
.site-content .error-container{
    display:inline-block;
    width:100%;
}

.site-content .error-container .error-image{
    display:inline-block;
    width:20%;
    font-size:250px;
    vertical-align: top;
    opacity:0.5;
    cursor:default;
}

.site-content .error-container .error-text{
    display:inline-block;
    width:80%;
    font-size:30px;
    vertical-align: top;
    padding:0 20px;
}

.site-content .error-container .error-text h1{
    margin:0;
}

.site-content .error-container .error-text .error-subtext{
    display:inline-block;
    width:100%;
    vertical-align: top;
    font-size:20px;
}
/*error pages end*/
/*plugins css overwrite*/
.checkbox-green,
.checkbox-green.checked{
    background-color:#6DB33F;
}

.checkbox-green:hover,
.checkbox-green.checked:hover{
    background-color:#79BA4F;
}


.visibility-check {
    width:50%;
    margin-top:5px;
    display:inline-block;
}

.visibility-check {
    background: #34302D;
    border-radius: 0;
}

.label-check-visible.checked,
.label-check-visible.hover {
    background: #6DB33F;
}

.label-check-not-visible.checked,
.label-check-not-visible.hover {
    background: #c0392b;
}

#main-menu {
    max-width: 100%;
}

.main-menu-btn {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-indent: 28px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.button-poll-submit {
    background-color: #355C84;
    border: medium none;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

.button-poll-submit:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color: #334D68;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* hide menu state checkbox offscreen (so it stays visible to screen readers) */
#main-menu-state {
    position: absolute;
    top: -99999px;
}

/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
    display: none;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

.sm-mint a,
.sm-mint a:hover, 
.sm-mint a:focus, 
.sm-mint a:active{
    font-family: inherit;
}

.main-menu-btn {
    margin: 5px;
}

.sm-mint{
    border:none;
}

.sm-mint a,
.sm-mint a:hover, 
.sm-mint a:focus,
.sm-mint a:active,
.sm-mint a.highlighted, .sm-mint ul{
    border-radius:0;
}

.sm-mint a{
    border-left:1px solid #34302D;
}

.sm-mint a:hover,
.sm-mint a.highlighted,
.sm-mint ul a:hover, 
.sm-mint ul a:focus,
.sm-mint ul a:active, 
.sm-mint ul a.highlighted,
.sm-mint a.current{
    background:#6DB33F;
    color:#fff;
    font-weight: normal;
}

.sm-mint ul{
    background-color:#fff;
    box-shadow:none;
    padding:0;
    border-bottom:1px solid #6DB33F
}

.sm-mint ul li{
    border-top: 1px solid #6DB33F
}

.sm-mint a.highlighted span.sub-arrow {
    border-color: #fff transparent transparent
}

@media (min-width: 769px) {
    /* hide the button in desktop view */
    .main-menu-btn {
        position: absolute;
        top: -99999px;
        display:none;
    }

    #main-nav {
        line-height: 0;
        text-align: right;
    }

    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: inline-block;
    }

    .sm-mint a,
    .sm-mint a:focus,
    .sm-mint a:active{
        color:#fff
    }
    #main-menu-state:checked ~ #main-menu {
        display: inline-block;
    }
}

@media (max-width:768px){
    .header .header-content .header-content-left,
    .header .header-content .header-content-right{
        display:block;
        width:100%;
    }
}
/*plugins css overwrite end*/
/* mobile styles */
@media (max-width:768px){
    html body #site-content.site-content .content-container .form-container {
        width:100%;
    }
    
    html body #site-content.site-content .content-container .form-container .buttons-container {
        width:100%;
    }
    
    html body #site-content.site-content .content-container .form-container .buttons-container button {
        width:100%;
        display:inline-block;
    }
    
    html body #site-content.site-content .content-container .form-container .buttons-container button:not(:last-child){
        margin-bottom:10px;
    }
    
    html body #site-content.site-content .content-container .form-container .input-container{
        width:100%;
    }
}
/*mobile styles end*/